<div class="container-fluid p-0 bg-secondary">
  <div class="container py-3">
    <div class="d-flex justify-content-between">
      <a class="btn btn-primary" type="button" href="tel:{{ site.phone }}">Call Us: {{ site.phone }}</a>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
        Contact Form
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include jotform.html %}
      </div>
    </div>
  </div>
</div>
