{% if page.layout == "service" %}
  {% include api_wikipedia.html %}
{% endif %}

<div class="d-block position-relative px-0 pt-3 pb-4 mb-3 shadow-sm rounded bg-light">
  <h5 class="px-3 pb-2">Working Hours</h5>
  <ul class="list-group mb-0">
    {% if site.data.working_hours %}
    {% for hour in site.data.working_hours %}
    <li class="list-group-item active d-flex justify-content-between align-items-center">
      {{ hour.day }}
      <span>{{ hour.hours }}</span>
    </li>
    {% endfor %}
    {% endif %}
  </ul>
</div>

<div class="d-block position-relative p-3 mb-3 shadow-sm rounded">
  <blockquote class="blockquote mb-0">
    <p>What a Service! Thanks, You save my day.</p>
    <p class="small mb-0">Abraham from <strong>Manchester</strong></p>
  </blockquote>
</div>

<div class="d-block position-relative p-3 mb-3 shadow-sm rounded">
  <h5>Have Questions About Our Services?</h5>
  <button class="btn btn-block btn-primary border border-white" type="button">Contact Us</button>
</div>

<div class="d-block position-relative p-3 mb-3 shadow-sm rounded">
  <h5>Contact Info</h5>
  <h6 class="my-0">Call Us On</h6>
  <a class="small" href="tel:{{ site.phone }}">{{ site.phone }}</a>
</div>  