<div class="row">
    <div class="col-12 col-lg-4 mb-3">
  
      <div class="card bg-white border-0 shadow-sm text-center">
        <div class="card-body p-3">
          <img class="img-fluid mb-3" src="https://source.unsplash.com/BvUicqkaZZ0" alt="">
          <a href="#" class="font-weight-bold text-uppercase">Tips & Trick To Follow Before Autumn</a>
        </div>
      </div>
  
    </div>
    <div class="col-12 col-lg-8 mb-3">
  
      <div class="card bg-white border-0 shadow-sm">
        <div class="card-body">
          <div class="d-flex flex-column text-white bg-primary p-3">
            <span><i class="fa fa-check-square mr-2 mb-2"></i>  We have professionals with good capabilities</span>
            <span><i class="fa fa-check-square mr-2 mb-2"></i>  We offer affordable and reasonable prices</span>
            <span><i class="fa fa-check-square mr-2 mb-2"></i>  We can handle all types of problems related to drainage, we guarantee your satisfaction</span>
            <span><i class="fa fa-check-square mr-2 mb-2"></i>  We will respond quickly to your problems</span>
            <span><i class="fa fa-check-square mr-2 mb-2"></i>  Please call us via call center for on-time response</span>
          </div>
        </div>
      </div>
  
    </div>
  </div>